h1{
    color: white;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
p{
    font-size: 3rem;
    color: rgb(13, 100, 129);
    font-family: 'Times New Roman', Times, serif;
   

}
div.first{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    background-color: rgb(14, 126, 255);
}