h1{
    color: white;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
p{
    font-size: 3rem;
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;

}
