<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>This is header</h1>
        <p>This is a paragarph</p>
        <p>This is a second paragarph</p>
        <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quisquam odio architecto quaerat dolores cupiditate, consequuntur labore velit doloremque libero. Non
            , nihil ipsa! Assumenda minima quaerat distinctio in architecto ducimus.</i></p>
            <form>
                <button>
                    <label>Submit</label>
                </button>
            </form>

    </body>
</html>